* {
  box-sizing: border-box;
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  color: white;
    .side-header {
      height: 100px;
      width: 300px;
      background-color: #253141;
      display: flex;
        &__box {
          height: 20px;
          width: 260px;
          font-weight: bold;
          margin: auto;
          display: flex;
          justify-content: space-between;
            &__username {
              line-height: 20px;
              font-size: 16px;
            }
            &__menu {
              width: 60px;
              line-height: 20px;
              text-align: right;
              &__edit-user {
                color: #ffffff;
                text-decoration: none;
              }
              &__new-group {
                color: #ffffff;
                text-decoration: none;
              }
            }
        }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      .group {
        margin-bottom: 40px;
        .group1 {
          .group__group-name {
            font-size: 15px;
            text-decoration: none;
            margin-bottom: 5px;
            color: #ffffff;
          }
        }
        .group2 {
          .group__latest-message {
            font-size: 11px;
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }

}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
    .main-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      &__left-box {
        height: 100%;
        width: 100%;
        padding-top: 35px;
        &__current-group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        text-decoration: none;
        color: #38aef0;
      }
    }
    .messages {
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      background-color: #fafafa;
      padding: 46px 40px;
      overflow: scroll;
      .message {
        padding-bottom: 40px;
        &__upper-info {
          display: flex;
          margin-bottom: 10px;
          .message__upper-info__talker {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          .message__upper-info__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
        
      }
    }
    .form {
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;
      .new_message {
        display: flex;
        .input-box {
          position: relative;
          width: 100%;
          &__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
          }
          &__image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &__file {
              display: none;
            }
          }
        }
        .submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }
    }
}
